#companyInfo {
    width: 49%;
    text-align: center;
}

#result {
    
    text-align: center;
    width: 49%;
    
}

#warning {
    margin: 50px 0 0 0;
    text-align: center;
    color: brown;
}

.line {
    width: 6px;
    height: 700px;
    background-color: black;
    margin: 10px;
}

#riskResult {
    height: 700px;
    display: flex;

}
.companyInfo{
    display: block; 
    margin-bottom: 45px;
}

@media screen and (max-width: 768px) {
    #riskResult {
        height: 1000px;
        display: flex;
    
    }
    .companyInfo{
        display: block; 
        margin-bottom: 20px;
    }
}